<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]="doctors.image" alt="avatar" /> -->
        <div class="modal-about">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="doctorsForm">
      <!-- (ngSubmit)="submit()" -->
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name in English</mat-label>
            <input matInput formControlName="name" required />
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
              >face</mat-icon
            >
            <mat-error *ngIf="doctorsForm.get('name')?.hasError('required')">
              name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>name in Arabic</mat-label>
            <input matInput formControlName="nameAr" required />
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
              >face</mat-icon
            >
            <mat-error *ngIf="doctorsForm.get('nameAr')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Title in English</mat-label>
            <input matInput formControlName="title" required />
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
              >face</mat-icon
            >
            <mat-error *ngIf="doctorsForm.get('title')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Title in Arabic</mat-label>
            <input matInput formControlName="titleAr" required />
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix
              >face</mat-icon
            >
            <mat-error *ngIf="doctorsForm.get('titleAr')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Body In English</mat-label>
            <textarea matInput formControlName="body" required></textarea>
            <mat-error *ngIf="doctorsForm.get('body')?.hasError('required')">
              body is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Body In Arabic</mat-label>
            <textarea matInput formControlName="bodyAr" required></textarea>
            <mat-error *ngIf="doctorsForm.get('bodyAr')?.hasError('required')">
              body is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <label>Featured : </label>
          <mat-radio-group formControlName="isFeatured">
            <mat-radio-button [value]="1">true</mat-radio-button>
            <mat-radio-button [value]="0">False</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
          <label>Upload</label>
          <app-file-upload formControlName="image"></app-file-upload>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
          <label>Upload Image ( jpeg,png,jpg,gif,svg|max:2048 )</label>
          <app-file-upload formControlName="image"></app-file-upload>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button
              mat-raised-button
              color="primary"
              [disabled]="!doctorsForm.valid"
              type="submit"
              [mat-dialog-close]="1"
              (click)="confirmAdd()"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="warn"
              tabindex="-1"
              (click)="onNoClick()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
