<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Add Center'"
        [items]="['Centers']"
        [active_item]="'Add Center'"
      ></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Centers</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="cenForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Name in English</mat-label>
                    <input matInput formControlName="nameEn" required />
                    <mat-error
                      *ngIf="cenForm.get('nameEn')?.hasError('required')"
                    >
                      name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Name in Arabic</mat-label>
                    <input matInput formControlName="nameAr" required />
                    <mat-error
                      *ngIf="cenForm.get('nameAr')?.hasError('required')"
                    >
                      name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>whatsApp</mat-label>
                    <input
                      matInput
                      formControlName="whatsApp"
                      type="text"
                      required
                    />
                    <mat-error
                      *ngIf="cenForm.get('whatsApp')?.hasError('required')"
                    >
                      whatsapp is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Phone</mat-label>
                    <input
                      matInput
                      formControlName="phone"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Area Id</mat-label>
                    <input matInput formControlName="area_id" required />
                    <mat-error
                      *ngIf="cenForm.get('area_id')?.hasError('required')"
                    >
                      area is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Scan</mat-label>
                    <input matInput formControlName="scan" type="number" />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Lab</mat-label>
                    <input matInput formControlName="lab" type="number" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Address In English</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Address In Arabic</mat-label>
                    <textarea matInput formControlName="addressAr"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label
                      >Description First Paragraph in English</mat-label
                    >
                    <textarea
                      matInput
                      formControlName="description1"
                      required
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Description First Paragraph in Arabic</mat-label>
                    <textarea
                      matInput
                      formControlName="description1Ar"
                      required
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label
                      >Description Second Paragraph in English</mat-label
                    >
                    <textarea
                      matInput
                      formControlName="description2"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label
                      >Description Second Paragraph in Arabic</mat-label
                    >
                    <textarea
                      matInput
                      formControlName="description2Ar"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload Image</label>
                  <app-file-upload formControlName="image"></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    class="btn-space"
                    [disabled]="!cenForm.valid"
                    mat-raised-button
                    color="primary"
                    type="submit"
                  >
                    Submit
                  </button>
                  <button type="button" mat-raised-button color="warn">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
